h3 {
    padding-left: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-bottom: 10px;
    border-left:solid 4px rgb(100, 91, 84);
}
h4 {
    padding-bottom: 5px;
    margin-left: 0px;
    border-bottom: solid 1px #f6f3ee;
}
p {
    margin:1px;
    line-height: 25px;
}
blockquote {
    margin: 2px 0px 2px 40px;
    max-width:100%;
    box-sizing:border-box;
    /* overflow-x:auto; */
}
.url {
    color: #9f4561;
}