html::-webkit-scrollbar{
    display:none;
}
html {
    /*スクロールバー非表示（IE・Edge）*/
    -ms-overflow-style: none;
    /*スクロールバー非表示（Firefox）*/
    scrollbar-width: none;
}
body {
    font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN','Yu Mincho Light','YuMincho','Yu Mincho','游明朝体',sans-serif;
    color : #4a4643;
    background-color : #fbf9f6;
    /* margin: 1em 30% 1em 1em; */
}
a {
    text-decoration: none;
    color: inherit;
    transition: 0.2s;
}
a:hover {
    text-shadow: 1px 1px 5px #94918e8e;
    transition: 0.3s;
}
li {
    margin-top: 1em;
}
.description {
    font-size: 0.8em;
    margin-left: 20px;
}
.docTitle {
    color: #445c69;
    border-bottom: dashed 1px #3a597d;
    text-shadow: rgb(213, 213, 213) 0.5px 0 2px;
}
.prefaceTitle {
    font-size: 1.2em;
    padding: 0px 0px 0px 8px;
    box-shadow: -3px 0px;
}
@media screen and (min-width: 637px) {
    body {
        margin-top: 1em;
        margin-left:25%;
        margin-right:25%;
    }
}
@media screen and (max-width: 636px) {
    body {
        margin: 1em 5% 1em 1em;
    }
    .description {
        font-size: 0.8em;
    }
    .docTitle {
        font-size: 1em;
    }
}