html::-webkit-scrollbar{
    display:none;
}
html {
    /*スクロールバー非表示（IE・Edge）*/
    -ms-overflow-style: none;
    /*スクロールバー非表示（Firefox）*/
    scrollbar-width: none;
}
body {
    font-family: "Noto Serif JP", serif;
    color : #554f4a;
    background-color : #fbf9f6;
    margin-bottom: 200px;
}
a {
    text-decoration: none;
    color: inherit;
    transition: 0.3s;
}
a:hover {
    text-shadow: 1px 1px 5px #c1bcb9aa;
}
li {
    margin-top: 1em;
}
.description {
    font-size: 0.8em;
    margin-left: 20px;
}
.docTitle {
    color: #445c69;
    border-bottom: dashed 1px #3a597d;
    text-shadow: rgb(230, 230, 230) 0.5px 0 2px;
}
.prefaceTitle {
    font-size: 1.2em;
    padding: 0px 0px 0px 8px;
    box-shadow: -3px 0px;
}
.jpTitle {
    color: #9d4a4a;
    border-bottom: dashed 1px #9d4a4a;
    text-shadow: rgb(204, 203, 203) 1px 0 2px;
    word-break: break-all;
}
.enTitle {
    color: #9d4a4a;
    font-family: 'Courier',sans-serif;
    border-bottom: dashed 1px #9d4a4a;
    text-shadow: rgb(204, 203, 203) 1px 0 2px;
    word-break: break-all;
}
.katex-html {
    margin-left:4px;
    margin-right:4px;
}
.scroll {
    overflow-x: auto;
    overflow-y: hidden;
    max-width: 100%;
    white-space: nowrap;
}
.scroll::-webkit-scrollbar {
    display: none;
}
pre::-webkit-scrollbar{
    display:none;
}
pre {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-x: auto;
    overflow-y: hidden;
    max-width: 100%;
    white-space: pre-wrap;
}
code {
    background: #f2f0ed;
}
pre code {
    background: inherit;
}
/* pc */
@media screen and (min-width: 1030px) {
    code {
        font-size: 1.2em;
        padding: 0.15em 0.3em;
        border-radius: 4px;
    }
    pre {
        border-radius: 8px;
        padding: 1em;
        overflow-x: auto;
    }
    pre code {
        font-size: 1.1em;
    }
    body {
        margin-top: 1em;
        margin-left:20%;
        margin-right:20%;
    }
}

/* ipad mini */
@media screen and (min-width: 741px) and (max-width: 800px) {
    code {
        font-size: 1.15em;
        padding: 0.15em 0.3em;
        border-radius: 4px;
    }
    pre {
        border-radius: 8px;
        padding: 1em;
        overflow-x: auto;
    }
    pre code {
        font-size: 1.15em;
    }
    body {
        font-size: 1.15em;
        margin-top: 1em;
        margin-left:5%;
        margin-right:5%;
    }
}
/* ipad 11 */
@media screen and (min-width: 741px) and (max-width: 1030px) {
    code {
        font-size: 1.3em;
        padding: 0.15em 0.3em;
        border-radius: 4px;
    }
    pre {
        border-radius: 8px;
        padding: 1em;
        overflow-x: auto;
    }
    pre code {
        font-size: 1.25em;
    }
    body {
        font-size: 1.25em;
        margin-top: 1em;
        margin-left:5%;
        margin-right:5%;
    }
}
/* ipad 13 */
@media screen and (min-width: 1020px) and (max-width: 1030px) {
    code {
        font-size: 1.3em;
        padding: 0.15em 0.3em;
        border-radius: 4px;
    }
    pre {
        border-radius: 8px;
        padding: 1em;
        overflow-x: auto;
    }
    pre code {
        font-size: 1.25em;
    }
    body {
        font-size: 1.25em;
        margin-top: 1em;
        margin-left:5%;
        margin-right:5%;
    }
}
/* スマホ */
@media screen and (max-width: 740px) {
    code {
        font-size: 1.1em;
        padding: 0.15em 0.3em;
        border-radius: 4px;
    }
    pre {
        border-radius: 8px;
        padding: 1em;
        overflow-x: auto;
    }
    pre code {
        font-size: 1em;
    }
    body {
        font-size: 0.8em;
        margin-left:1.5em;
        margin-right:1.5em;
    }
    .description {
        font-size: 0.7em;
    }
    .docTitle {
        font-size: 0.9em;
    }
}