---
import Navigation from "../../components/Navigation.astro";
import Tag from "../../components/Tag.astro";
import "../../styles/global.css";
const allPosts = Object.values(import.meta.glob("../posts/*.mdx", { eager: true }));
const uniqueTags = [...new Set(allPosts.map((post: any) => post.frontmatter.tags).flat())];
const baseUrl = import.meta.env.BASE_URL;
---
<style>
    ul {
        list-style-type: none;
    }
    .title {
        margin-bottom: 20px;
        margin-top: 20px;
        padding-left: 10px;
        border-left: solid 4px #544c46;
    }
</style>
<html lang="jp">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Hina+Mincho&family=Noto+Serif+JP:wght@200..900&family=Shippori+Mincho+B1&display=swap" rel="stylesheet">
        <title>タグ一覧</title>
    </head>
    <Navigation/>
    <body>
        <p class="title">タグ一覧</p>
        <ul class="tags">
            {uniqueTags.map((tag) =><li> <Tag tag={tag}/></li>)}
        </ul>
    </body>
</html>