<!-- ---
const {title} = Astro.props;
--- -->
<style>
    .maintext {
        margin-top:1em;
        margin-bottom:1em;
        text-align: center;
    }
</style>

<div class="maintext">
    <slot/>
</div>