---
const {title} = Astro.props;
---
<style>
    .def {
        font-weight: 500;
    }
    .findef {
        display: block;
        text-align:right;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
    .maintext {
        /* background: #fcfbf7; */
        /* box-shadow: 1px 1px 4px rgb(235, 235, 235); */
        margin-top: 10px;
        border-radius: 2px;
    }
</style>

<div class="maintext">
    <div class="titlebox">
        <span class="def">&#9655;定義</span>{title && <span> ({title})</span>}
    </div>
    <dev>
        <slot/>
        <span class="findef">&#9633;</span>
    </dev>
</div>