<style>
    .lemma {
        font-weight: 500;
    }
    .fin {
        display: block;
        text-align:right;
        margin-top: 0px;
    }
</style>

<div class="maintext">
    <span class="lemma">&#9654;補題.</span>
    <dev>
        <slot/>
        <span class="fin">&#9825;</span>
    </dev>
</div>