<style>
    .proof {
        font-weight: bold;
    }
    .qed {
        display:block;
        text-align: right;
    }
    /* .maintext {
        margin-top:0px;
        padding-top: 0px;
    } */
</style>
<div class="maintext">
    <span class="proof">【証明】</span>
    <div>
        <slot/>
        <span class="qed">&#9829;</span>
    </div>
</div>