<style>
    .thm {
        font-weight: bold;
    }
    .fin {
        display: block;
        text-align:right;
        margin-top: 0px;
    }
</style>

<div class="maintext">
    <span class="thm">&#9654;定理.</span>
    <dev>
        <slot/>
        <span class="fin">&#9633;</span>
    </dev>
</div>