---
const {title, link, description} = Astro.props;
---

<style>
    .titleContent {
        font-size: 1.2em;
        /* color: #604f4f; */
        padding-left: 8px;
        padding-bottom: 2px;
        padding-top: auto;
        margin-bottom: 10px;
        background: #f5f3ef;
        border-left: solid 4px #5c5754;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    .description {
        margin-top: 0px;
        padding-top: 0px;
    }
</style>

<div class="titleContent">
    <span><a href={link}>{title}</a></span>
</div>
<p class="description">{description}</p>