---
const {tag} = Astro.props;
const baseUrl = import.meta.env.BASE_URL;
---
<style>
    a {
        text-decoration: none;
        color: #3d566d;
    }
    .icon {
        vertical-align: middle;
        font-size: 0.9em;
        margin-right: 2px;
    }
    .tag {
        box-shadow: 1px 1px 2px #dedcdc;
        background: #fbf9f6;
        margin-right: 8px;
        padding: 5px;
        font-size: 0.8em;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
    }
</style>
<span class="tag"><span class="material-icons icon">local_offer</span><a href={`${baseUrl}/tags/${tag}`}>{tag}</a></span>