---
// import "../styles/global.css";
import Tag from "../components/Tag.astro";
import "../styles/global.css";
import Navigation from "../components/Navigation.astro";
import "katex/dist/katex.min.css";
const { frontmatter } = Astro.props;
const baseUrl = import.meta.env.BASE_URL;
---
<style>
    .title {
        font-size: 1.3em;
        margin-bottom: 0px;
        text-align: center;
    }
    .lastUpdatedDate {
        font-size: 0.6em;
        margin-top: 0px;
    }
    .goAllTags {
        font-size: 0.4em;
        color: rgb(129, 78, 71);
        vertical-align: bottom;
    }
    .tags {
        margin-top: 10px;
    }
    .markdownFormatter {
        padding-bottom: 15px;
        border-bottom: dashed 1px rgb(148, 148, 148);
    }
</style>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
        <title>{frontmatter.title}</title>
    </head>
    <body>
        <div class="markdownFormatter">
            <p class="title">&mdash; {frontmatter.title} &mdash;</p>
            <span class="lastUpdatedDate">最終更新日:{frontmatter.lastUpdatedDate.toString().slice(0,10)}</span>
            <div class="tags">
                {frontmatter.tags.map((tag: string) => (
                    <Tag tag={tag}/>
                ))}
                <span class="goAllTags"><a href=`${baseUrl}/tags`>タグ一覧へ</a></span>
            </div>
        </div>
        <slot />
    </body>
    <Navigation/>
</html>