---
// import "../styles/global.css";
const { frontmatter } = Astro.props;
import Tag from "../components/Tag.astro";
import "../styles/global.css";
---
<style>
    .title {
        font-size: 1.2em;
        margin-bottom: 0px;
    }
    .lastUpdatedDate {
        font-size: 0.6em;
        margin-top: 0px;
    }
    @media screen and (min-width: 768px) {
        body {
            margin-top: 1em;
            margin-left:25%;
            margin-right:25%;
        }
    }
    @media screen and (max-width: 768px) {
        body {
            margin: 1em 5% 1em 1em;
        }
    }
</style>
<html>
    <head>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
        <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
        <script type="text/x-mathjax-config">
            MathJax.Hub.Config({ tex2jax: {inlineMath: [['$', '$']]}, messageStyle: "none" });
        </script>
    </head>
    <body>
        <p class="title">{frontmatter.title}</p>
        <span class="lastUpdatedDate">最終更新日:{frontmatter.lastUpdatedDate.toString().slice(0,10)}</span>
        <div class="tags">
            <!-- <span>タグ:</span> -->
            {frontmatter.tags.map((tag: string) => (
                <Tag tag={tag}/>
            ))}
        </div>
        <slot />
    </body>
</html>